<app-navbar></app-navbar>

<!-- Start Header -->
<header id="header_id">
    
    <div class="jumbotron text-white text-shadow">
      <div class="container">
        <div class="text-center p-5">
          <h1 class="text-uppercase shadow">Angular Eğitimine Hoşgeldiniz</h1>
          <h4>Frontend, Angular, Javascript</h4>
          <div id="header_social" class=" mt-4 mb-3">
            <a href="" class="btn btn-primary me-2">Linkedin</a>
          <a href="" class="btn btn-danger me-2">Github</a>
          <a href="" class="btn btn-secondary">Facebook</a></div>
          </div>
          
      </div>
    </div>
  </header>