p{
    text-transform: capitalize;
    text-align: justify;
    
}

img:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

.my_clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.line-clamp4{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.container i{
    text-align: center;
    margin-top: 10px;
}

.container p{
    text-align: center;
}

/* BUSINESS */
#business_id i{
font-size: 5rem;
}

/* ABOUT */
#about_me_id{
    background-color: rgb(134, 27, 228);
    color:white!important;
    height: 35rem;
    padding:2rem;
    background-image: url('../onepage-header/backgroundphoto.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#about_me_id p{
    background-color: black;
    opacity: 0.8;
    padding:2rem 1rem;
    line-height: 1.3;
}

/* BLOG */
#blog_id{
    
}

/* CONTACT */
#contact_id{
    background-color: rgb(134, 27, 228);
}