<div id="main_id" class="container" style="margin-top:5rem;">
    <main>
        <section id="about_me_id">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut tempore minus sunt quis, voluptatem, soluta, perspiciatis adipisci distinctio explicabo amet eaque non nam fuga maxime dolorem? Alias, nobis aut! Deserunt!</p>
        </section>
        <section id="blog_id">
            <div class="container">
                <div class="row">
                    <!--card -->
                    <div *ngFor="let item of blogcard" class="col-sm-12 col-md-3 col-lg-4 col-3">
                        <div class="card">
                            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2014/12/27/15/40/office-581131_1280.jpg" alt="Title" />
                            <div class="card-body">
                                <h4 class="card-title">Title</h4>
                                <p class="card-text">Text</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact_id">

        </section>
    </main>
</div>
