<nav id="navbar_id"class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <div class="container">
      <!-- <a class="navbar-brand" href="#">{{navBar.logo.logoName}}</a> -->
  
      <a class="navbar-brand" href="#">
        {{navBar.logo.logoName}} 
        <!-- <img class="rounded-circle w-25" [src]="navBar.logo.logoPicture" alt=""> -->
        <!-- <i [class]="navBar.logo.logoFontAwesome"></i> -->
      </a>
      <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              href="{{ navBar.navbar[0].link }}"
              aria-current="page"
            >
              <!-- {{homePage}} -->
              <!-- {{navBar.navbar[0].name}}  -->
              <!-- Property Binding Yapalım -->
              <!-- <i class={{navBar.navbar[0].fontAwesome}}></i>  -->
              <i [class]="navBar.navbar[0].fontAwesome"></i>
              <span class="visually-hidden">(current)</span></a
            >
          </li>

           <!--
          Built-In-Pipe: Angularda hazır filtrelemenin olduğu yerdir.(Hazır)
          Pipe(Custumise)
          adi |uppercase: Büyük harf yapar.
          adi |lowercase: Küçük harf yapar.
          adi |titlecase: Her harfin ilk karakteri büyük harf yapar.
          tarih |date
          tarih |date:'shortTime'
          tarih |date:'fullDate'
          para birimi | currency
          para birimi | currency: 'USD'
          para birimi | currency: 'USD':'symbol'
          para birimi | currency: 'USD':false
          <div *ngFor="let temp of blogCard |slice:1:4"
         -->

          <li class="nav-item">
            <a class="nav-link" href="{{ navBar.navbar[1].link }}">
              {{ navBar.navbar[1].name }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ navBar.navbar[2].link }}">
              {{ navBar.navbar[2].name }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ navBar.navbar[3].link }}">
              {{ navBar.navbar[3].name }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ navBar.navbar[4].link }}">
              {{ navBar.navbar[4].name }}
            </a>
          </li>

        <!-- Eğer kullanıcı sisteme giriş yapmışsa Login/Register Görünmesin -->
        <ng-container *ngIf="navBar.isLogin; then loggedInd; else loggedOut">
        </ng-container>

        <!-- Eğer login:true ise Kullanıcı bigileri -->
        <ng-template #loggedInd>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <!-- Hidden: Eğer rollerinde ADMIN değilse gösterme -->
              <span class="me-2" [hidden]="User[0].roles!=='ADMIN'" >{{ User[0].roles |titlecase}}</span>
              <span>Welcome, {{ User[0].username |titlecase }}</span>
            </a>
            </li>
        </ng-template>

        <!-- Eğer login:false ise login/register görünsün -->
        <ng-template #loggedOut>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="dropdownId"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Login</a
            >
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#">Login</a>
              <a class="dropdown-item" href="#">Register</a>
            </div>
          </li>
        </ng-template>

        </ul>
        <form class="d-flex my-2 my-lg-0">
          <input
            class="form-control me-sm-2"
            type="text"
            [placeholder]="navBar.search.placeholder"
          />
          <button [class]="navBar.search.style" type="submit">
            Search
          </button>
        </form>
      </div>
    </div>
  </nav>

  <!--Back to Top-->
  <a id="backtotop" href="navbar_id" class="back-to-top">
    <i class="fa-solid fa-angles-up"></i>
  </a>